<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AsteriatedGUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Qt Preprocess.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>131570533AFE52F997E2350D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F6B86AC1FAC453E04DCAE73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C15B0286E75F981D9620156C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB20CE592B1D9EC7AC559154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
